* {
    margin: 0;
    padding: 0;
}
body {
    background: url(cosmos.jpg) no-repeat;
    width: 100%;
}
.button {
    font-family: 'Courier New', Courier, monospace;
    height: 70px;
    width: 80px;
    font-size: 35px;
    margin: 3px;
    border-radius: 100px;
    outline: 0;
    cursor: pointer;
    background: linear-gradient( rgb(111, 231, 175), rgb(218, 240, 98))
}
.textview {
    width: 330px;
    margin: 10px;
    padding: 10px;
    font-size: 55px;
    border-radius: 10px;
    outline: 0;
    text-align: right;
    background-color: aquamarine;
}
#col {
    width: 175px;
}
#row {
    height: 145px;
}
.tb {
    padding-left: 5px;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 5px solid rgb(34, 34, 34);
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    background: linear-gradient(red, blue);
}
.sam {
    background: linear-gradient(red, blue);
    border-radius: 30px;
    margin: 15px;
}
#s {
    font-family: "Segoe Script";
    text-align: right;
    padding-right: 10px;
}
#b {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding-right: 20px;
}
#c {
    padding-left: 20px;
}
#cos {
    padding-left: 50px;
}
